my_models/BERT/1.BERT IMDB fine-tuning - evaluation/output
my_models/BERT/4. BERT Fine Tuning - Disaster/bert_model
my_models/BERT/5. BERT Spam transfer-learning/saved_weights.pt
my_models/Computer Vision/Handwriting recognition/A_Z Handwritten Data.csv
my models/LLM/5.Intro to LLM/smaller_bert_finetuned/
my models/LLM/Llama2 fine-tuning/llama-2-7b-fine-tuned/adapter_model.safetensors
my_models/Trading/_Stock_Analysis_/daily_archives
my_models/Trading/_Stock_Analysis_/intraday_stocks
my_models/Trading/_Stock_Analysis_/dfs_training
docker_files/cudnn-linux-x86_64-8.9.7.29_cuda12-archive

my_models/Business cases/.ipynb_checkpoints/desktop.ini
my_models/Business cases/Car Insurance Claim Outcome/.ipynb_checkpoints/desktop.ini
/.Trash-0

*.ini
*.env
