services:
  jupyter:
    container_name: gpu-jl

    build:
      context: ${HOME}/scripts
      dockerfile: Dockerfile
    image: alfrizz/gpu-jl:latest

    restart: unless-stopped

    gpus: all
    cpus: "18.0"
    mem_limit: "52g"
    shm_size: 32g     
    ports:
      - "8888:8888"

    volumes:        
      - "/home/alfrizz/docker_tmp:/tmp"
      - "/mnt/g/My Drive/Ingegneria/Data Science GD/My-Practice:/workspace"

    working_dir: /workspace

    entrypoint: ["/usr/local/bin/entrypoint.sh"]

    environment:
      - MAX_WAIT=0
      - ALPACA_KEY_live=${ALPACA_KEY_live}
      - ALPACA_SECRET_live=${ALPACA_SECRET_live}

    command:
      - jupyter
      - lab
      - --no-browser
      - --ip=0.0.0.0
      - --allow-root
      - --NotebookApp.token=
      - --NotebookApp.notebook_dir=/workspace

