services:
  jupyter:
    container_name: gpu-jl

    build:
      context: ${HOME}/scripts
      dockerfile: Dockerfile
    image: alfrizz/gpu-jl:latest

    restart: unless-stopped

    gpus: all
    cpus: "18.0"
    mem_limit: "52g"
    shm_size: 32g     
    ports:
      - "8888:8888"

    volumes:        
      - "/home/alfrizz/docker_tmp:/tmp"
      - ${HOME}:/workspace

    working_dir: /workspace

    entrypoint: ["/usr/local/bin/entrypoint.sh"]

    command:
      - jupyter
      - lab
      - --no-browser
      - --ip=0.0.0.0
      - --allow-root
      - --NotebookApp.token=

