Django==5.2.4
Scrapy==2.13.3
anywidget==0.9.21
captum==0.8.0
colorama==0.4.6
coloredlogs==15.0.1
h5py==3.15.1
ipywidgets==8.1.7
jupyterlab>=4.0.0
jupyterlab_widgets==3.0.16
logzero==1.7.0
numpy<2.0
optuna==4.4.0
pandas>=2.3.2
plotly
psycopg2-binary==2.9.11
rich==13.9.4
seaborn
shap==0.48.0
statsmodels==0.14.5
ta==0.11.0
tdigest==0.5.2.2
torch-lr-finder==0.2.2
torchmetrics==1.8.1
widgetsnbextension==4.0.15
